/* Jumbotron */
.demo-layout-transparent {
  background: linear-gradient(
      rgba(54, 219, 191, 0.45),
      rgba(5, 210, 175, 0.45)
    ),
    url('assets/images/logo.png') center / cover;
  height: 400px;
}

/* Nav Bar */
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

/* Header Text */
.header-text{
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
  color: white;
}

/* Content Wrapper */
.container{
  width: 80%;
  margin: 0 auto;
}

.mdl-layout__header {
  background-color: #f2f2f2 !important;
}

.mdl-navigation__link {
  color: #424242 !important;
}


/* ==========  Select Field ========== */

/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  color: #000;
  border: none;
  border-bottom: 1px solid #424242;
}

/* Remove focus */
select:focus {
  outline: none}

/* Hide label */
.mdl-selectfield label {display: none;}
/* Use custom arrow */

.mdl-selectfield {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  position: relative;
}
.mdl-selectfield:after {
   position: absolute;
   top: 0.75em;
   right: 0.5em;
   /* Styling the down arrow */
   width: 0;
   height: 0;
   padding: 0;
   content: '';
   border-left: .25em solid transparent;
   border-right: .25em solid transparent;
   border-top: .375em solid #424242;
   pointer-events: none;
 }


