@import '~bootstrap/dist/css/bootstrap.css';

div .desafio { margin: 10px; padding: 10px; border-radius: 10px; }


.desafio:nth-of-type(5n+1) { background-color: #05d2af; }
.desafio:nth-of-type(5n+2) { background-color: dodgerblue; }

.adjust-img{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
}
